img{
	width:350px;
	border:2px solid blue;
}
body{
	background-color:#00FFFF;
	font-family: 'Abel';
}
.red{
	color:red;	
}
.big_font{
	font-size:32px;
}
#specialStyle{
	background-color:yellow;
	border:2px solid red;
}